<!DOCTYPE html>
<html>

<head>
    <title>progress</title>
    <link href="contact.css" rel="stylesheet" type="text/css">
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main">
        <div id="contact_div_header">
            <div id="contact_text">
                Contact
            </div>
        </div>
       
            <a href="https://www.google.co.in/maps/place/Progress+Software+India/@17.4322894,78.3851177,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb915c0d981e4d:0xd077e205b663a41e!8m2!3d17.4322843!4d78.3873064?hl=en"><img id="img_1" src='images/map.PNG' alt="map" /></a>
      
       
            <a href="//shld give"><img id="img_2" src='images/we_r_here.PNG' alt="map" /></a>
       
</body>

</html>