<!DOCTYPE html>
<html>

<head>
    <title>progress</title>
    <link href="contact.css" rel="stylesheet" type="text/css">
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main">
        <div id="schedule_header" style="background-image: url('images/BannerBGAsset 2@1x.png');background-position: center;background-color: #5F2367;">
            <div>
                <a data-role='button' href='components/homeView/view.html' id='backButton'>
                    <img src='images/BackArrowAsset 4@1x.png'>
                </a>
            </div>
            <div id='main_title'>
                Contact Us
            </div>
            <div id='sub_title'>
                Know where we are !
            </div>
        </div>
       <!-- <div>
            <a href="https://www.google.co.in/maps/place/Progress+Software+India/@17.4322894,78.3851177,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb915c0d981e4d:0xd077e205b663a41e!8m2!3d17.4322843!4d78.3873064?hl=en"><img id="img_1" src='images/maps.png' alt="map" /></a>
        </div>-->
		 <div class="iframe-rwd">
        <iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.5608058455573!2d78.38651246308986!3d17.43285238953776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb915c0d981e4d%3A0xd077e205b663a41e!2sProgress+Software+India!5e0!3m2!1sen!2sin!4v1471371537859"></iframe><br /><small><a href="https://www.google.com/maps/place/Progress+Software+India/@17.432407,78.387049,16z/data=!4m5!3m4!1s0x0:0xd077e205b663a41e!8m2!3d17.4322843!4d78.3873064?hl=en-US" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    </div>
		
		
        <div id="address_div">
            <img src="images/ilabs.jpg" id="add_img" />
            <p id="address_para">
                4th FLoor,I Labs Centre,<br>Opposite Inorbit Mall,<br> Madhapur,
                <br> Hyderabad-500002 .
                <br>
            </p>
        </div>
        <div id="contact_no_div">
             <img src="images/intern-appAsset 23@1x.png" />
            <a style="font-size: large;padding-left: 17px;" href="tel: 0404510 6000">040 4510 6000</a>
        </div>
</body>

</html>
