<!DOCTYPE html>
<html>

<head>
    <title>progress</title>
    <link href="contact.css" rel="stylesheet" type="text/css">
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main">
        <div id="schedule_header" style="background-image: url('images/BannerBGAsset 2@1x.png');background-position: center;background-color: #5F2367;">
            <div>
                <a data-role='button' href='components/homeView/view.html' id='backButton'>
                    <img src='images/BackArrowAsset 4@1x.png'>
                </a>
            </div>
            <div id='main_title'>
                Contact Us
            </div>
            <div id='sub_title'>
                Lorem Ipsum dolor sit
            </div>
        </div>
        <div>
            <a href="https://www.google.co.in/maps/place/Progress+Software+India/@17.4322894,78.3851177,17z/data=!3m1!4b1!4m5!3m4!1s0x3bcb915c0d981e4d:0xd077e205b663a41e!8m2!3d17.4322843!4d78.3873064?hl=en"><img id="img_1" src='images/maps.png' alt="map" /></a>
        </div>
        <div id="address_div">
            <img src="" />
            <p id="address_para">
                4th FLoor, iLabs Building<br> Opposite inorbit mall<br> Madhapur
                <br> Hyderabad
                <br>
            </p>
        </div>
        <div id="contact_no_div">
             <img src="images/CallAsset 5@1x.png" />
            <p id="contact_no">
                040 4510 6000
            </p>
        </div>
</body>

</html>