.img_guide {
    /* margin-top: 88px; */
    width: 60%;
    position: absolute;
    margin: auto;
    top: -34%;
    left: 0;
    right: 0;
    bottom: 0;
}
.img_guide_footer {
    width: 36%;
    position: absolute;
    margin: auto;
    top: 86%;
    left: 0;
    right: 0;
  /*  bottom: 40px;*/
}
p.bold_txt {
    color:white;
    text-align: center;
    padding-top: 77%;
    font-size: 20px;
   
}
p.thin_txt {
    color:white;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
}