<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main">
        <div style="height:100vh;background-color:#00AB8E;">
            <a data-role='button' href="components/homeView/view.html" style=" background-color: transparent; border: none;margin-left:86% ">
                <img src="images/icon-closeAsset 13@1.5x.png" style="padding: 11px;margin-left: -96%;">
            </a>
            <div id="guide_1">
                <img src="images/icon-slide1Asset 12@1.5x.png" class="img_guide">
                <p class="bold_txt">
                    <b> Welcome to Quick Guide</b>
                </p>
                <p class="thin_txt">
                    The following slides will help you<br> locate us fast once you are in the campus
                </p>
                <img src="images/btn_startAsset 6@1.5x.png" class="img_guide_footer" onclick="slide_1()">
            </div>
            <div id="guide_2" style="display:none">
                <img src="images/icon-slide2Asset 11@1.5x.png" class="img_guide">
                <p class="bold_txt">
                    <b>  1. Collect your Gate Pass</b>
                </p>
                <p class="thin_txt">
                    You are required to collect your gate pass<br> from <b>iLabs</b> entry gate reception <br><br> <i>Please Keep a Govt Photo ID handy</i>
                </p>
                <div>
                    <img src="images/back_arrow.png" class="img_guide_footer_b" onclick="slide_2B()">
                    <img src="images/front_arrow.PNG" class="img_guide_footer" onclick="slide_2()">
                </div>
            </div>
            <div id="guide_3" style="display:none">
                <img src="images/icon-slide3Asset 10@1.5x.png" class="img_guide">
                <p class="bold_txt">
                    <b> 2. Walk to Block A</b>
                </p>
                <p class="thin_txt">
                    We are located in Block A<br> A little walk and you are there
                </p>
                <div>
                    <img src="images/back_arrow.png" class="img_guide_footer_b" onclick="slide_3B()">
                    <img src="images/front_arrow.PNG" class="img_guide_footer" onclick="slide_3()">
                </div>
            </div>
            <div id="guide_4" style="display:none">
                <img src="images/btn_icon-slide4Asset 9@1.5x.png" class="img_guide">
                <p class="bold_txt">
                    <b> 3. Head to 4th floor</b>
                </p>
                <p class="thin_txt">
                    Take an elevator or hit the stairs,<br> our front office is waiting to receive you
                </p>
                <div>
                    <img src="images/back_arrow.png" class="img_guide_footer_b" onclick="slide_4B()">
                    <a data-role="button" href="components/homeView/view.html" style=" background-color: transparent; border: none;background-color: transparent;border: none;width: 131%;mergin-top: 90%;left: -16%;padding-top: 10%;" onclick="restart()">
                        <img src="images/btn_caughtupAsset 8@1.5x.png" class="img_guide_footer">
                    </a>
                </div>
            </div>
        </div>
</body>

</html>