<html>
<head>
<script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script>
</head>
<body>
<a-scene>
<a-assets>  
   
<img id="zero"  crossorigin="" src="http://i.imgur.com/3vPXuLH.jpg">
<img id="L1"  crossorigin="" src="http://i.imgur.com/8QhIJiH.jpg">
<img id="L2"  crossorigin="" src="http://i.imgur.com/iUHKBeA.jpg">
<img id="L3"  crossorigin="" src="http://i.imgur.com/JYjD9hW.jpg">
<img id="R1"  crossorigin="" src="http://i.imgur.com/6QIXBa9.jpg">
<img id="R2"  crossorigin="" src="http://i.imgur.com/SL8lPaO.jpg">
<img id="R3"  crossorigin="" src="http://i.imgur.com/qpRSZS8.jpg">
<img id="Navigator"  crossorigin="" src="http://i.imgur.com/XZxSH7U.png">

</a-assets>
    <a-sky  src="#zero" id="background" rotation="0 180 0" ></a-sky>
  <a-camera position="0 0 0">
    <a-cursor color="#2E3A87">
  </a-camera>
  	<a-image color="#FFF" width="32" height="32"
         position="-200 20 -20" rotation="0 60 0"
         src="#Navigator" id="L1_enter" visible="true">
	</a-image>
	
	<a-image color="#FFF" width="24" height="24"
         position="30 10 -60" rotation="0 15 0"
         src="#Navigator" id="L2_enter" visible="false">
	</a-image>
	
	<a-image color="#FFF" width="24" height="24"
         position="90 20 -25" rotation="0 90 0"
         src="#Navigator" id="L1to0" visible="false">
	</a-image>
	
	<a-image color="#FFF" width="24" height="20"
         position="110 10 20" rotation="0 30 0"
         src="#Navigator" id="L3_enter" visible="false">
	</a-image>
	
	<a-image color="#FFF" width="30" height="30"
         position="-120 30 -80" rotation="0 90 0"
         src="#Navigator" id="L2toL1" visible="false">
	</a-image>
	
	
	<a-image color="#FFF" width="40" height="40"
         position="-270 110 -20" rotation="0 -70 79"
         src="#Navigator" id="L3toL2" visible="false">
	</a-image>
	
	<a-image color="#FFF" width="24" height="24"
         position="150 40 -10" rotation="0 60 0"
         src="#Navigator" id="R1_enter" visible="true">
	</a-image>
	
	<a-image color="#FFF" width="24" height="24"
         position="45 25 60" rotation="0 60 -90"
         src="#Navigator" id="R2_enter" visible="false">
	</a-image>
	
	<a-image color="#FFF" width="24" height="24"
         position="40 40 -120" rotation="0 150 0"
         src="#Navigator" id="R3_enter" visible="false">
	</a-image>
	
	<a-image color="#FFF" width="40" height="40"
         position="50 40 180" rotation="0 40 0"
         src="#Navigator" id="R3toR2" visible="false">
	</a-image>
	
	<a-image color="#FFF" width="30" height="30"
         position="90 40 -50" rotation="0 90 0"
         src="#Navigator" id="R2toR1" visible="false">
	</a-image>
	
	<a-image color="#FFF" width="10" height="10"
         position="-20 10 18" rotation="0 90 -20"
         src="#Navigator" id="R1to0" visible="false">
	</a-image>
	  	
		
</a-scene>
<script>


var sky=document.querySelector('#background');
var L1_enter = document.querySelector('#L1_enter');
var L1to0 = document.querySelector('#L1to0');

var L2_enter = document.querySelector('#L2_enter');
var L2toL1 = document.querySelector('#L2toL1');

var L3_enter = document.querySelector('#L3_enter');
var L3toL2 = document.querySelector('#L3toL2');

var R1_enter = document.querySelector('#R1_enter');
var R1to0 = document.querySelector('#R1to0');

var R2_enter = document.querySelector('#R2_enter');
var R2toR1 = document.querySelector('#R2toR1');

var R3_enter = document.querySelector('#R3_enter');
var R3toR2 = document.querySelector('#R3toR2');


L1_enter.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#L1");
	   sky.setAttribute('rotation',"0 -180 0");
	   L1_enter.setAttribute('visible','false');
	   R1_enter.setAttribute('visible','false');
	   L2_enter.setAttribute('visible','true');
	   L1to0.setAttribute('visible','true');
	   

	});
	
L1to0.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#zero");
	   sky.setAttribute('rotation',"0 180 0");
	   L1_enter.setAttribute('visible','true');
	   R1_enter.setAttribute('visible','true');
	   L2_enter.setAttribute('visible','false');
	   L1to0.setAttribute('visible','false');
	   

	});
	
L2_enter.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#L2");
	   sky.setAttribute('rotation',"0 -140 0");
	   L2_enter.setAttribute('visible','false');
	   L1to0.setAttribute('visible','false');
	   L3_enter.setAttribute('visible','true');
	   L2toL1.setAttribute('visible','true');
	   

	});
	
L2toL1.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#L1");
	   sky.setAttribute('rotation',"0 -180 0");
	   L3_enter.setAttribute('visible','false');
	   L2toL1.setAttribute('visible','false');
	   L2_enter.setAttribute('visible','true');
	   L1to0.setAttribute('visible','true');
	   

	});
	
L3_enter.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#L3");
	   sky.setAttribute('rotation',"0 70 0");
	   L3_enter.setAttribute('visible','false');
	   L2toL1.setAttribute('visible','false');
	   L3toL2.setAttribute('visible','true');
	   

	});
	
L3toL2.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#L2");
	   sky.setAttribute('rotation',"0 -140 0");
	   L3toL2.setAttribute('visible','false');
	   L3_enter.setAttribute('visible','true');
	   L2toL1.setAttribute('visible','true');
	   

	});
	
R1_enter.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#R1");
	   sky.setAttribute('rotation',"0 -70 0");
	   L1_enter.setAttribute('visible','false');
	   R1_enter.setAttribute('visible','false');
	   R2_enter.setAttribute('visible','true');
	   R1to0.setAttribute('visible','true');
	   

	});
	
R2_enter.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#R2");
	   sky.setAttribute('rotation',"0 0 0");
	   R2_enter.setAttribute('visible','false');
	   R1to0.setAttribute('visible','false');
	   R3_enter.setAttribute('visible','true');
	   R2toR1.setAttribute('visible','true');
	   

	});
	
R3_enter.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#R3");
	   sky.setAttribute('rotation',"5 95 5");
	   R3_enter.setAttribute('visible','false');
	   R2toR1.setAttribute('visible','false');
	   R3toR2.setAttribute('visible','true');
	   

	});
	
R3toR2.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#R2");
	   sky.setAttribute('rotation',"0 0 0");
	   R3toR2.setAttribute('visible','false');
	   R3_enter.setAttribute('visible','true');
	   R2toR1.setAttribute('visible','true');
	   

	});
	
R2toR1.addEventListener('mouseenter', function () {
	   sky.setAttribute('src',"#R1");
	   sky.setAttribute('rotation',"0 -70 0");
	   R3_enter.setAttribute('visible','false');
	   R2toR1.setAttribute('visible','false');
	   R2_enter.setAttribute('visible','true');
	   R1to0.setAttribute('visible','true');
	   

	});
	
R1to0.addEventListener('mouseenter', function () {
	  	   sky.setAttribute('src',"#zero");
	   sky.setAttribute('rotation',"0 180 0");
	   L1_enter.setAttribute('visible','true');
	   R1_enter.setAttribute('visible','true');
	   R2_enter.setAttribute('visible','false');
	   R1to0.setAttribute('visible','false');


	});
	
	
	



</script>
</body>
</html>
