<!DOCTYPE html>

<html>
    <head>
        <script src="components/check/check.js"></script>
        <script src='globalVariables.js'></script>
        <title></title>
    </head>
    <body>
         <div data-role="view" data-title="Progress" data-layout="main" data-model="app.settingsView" data-show="app.settingsView.onShow" data-after-show="app.settingsView.afterShow">
        <div id='profile' >
            
            
            <h2>
                Name:<br>
            </h2>
            <h3 id='display_name'>
                
            </h3>
            <h2>
                Email:<br>
            </h2>
            <h3 id='display_email'>
                
            </h3>
            <h2>
                Gender:<br>
            </h2>
            <h3 id='display_gender'>
                
            </h3>
            <h2>
                City:<br>
            </h2>
            <h3 id='display_city'>
                
            </h3>
            
            <!--h2>
                Interview Date:<br>
            </h2>
            <h3 id='display_interviewDate'>
                
            </h3-->
            <h2>
                Photo:<br>
            </h2>
            <div id='profile2'>
              
            </div>
                
           
              </div>
        </div>
    </body>
</html>