/* HOME-VIEW CSS */

#login_error {
    color: red;
    text-align: center;
}
#welcome_page {
    background-color: rgb(169, 232, 234);
    width: 100%;
    /* margin-top: initial; */
    /*padding-top: 18%;*/
}
#best_of_luck_button {
    overflow: hidden;
    width: 100%;
    margin-top: 10%;
}
#progress_premises_button {
    overflow: hidden;
    width: 100%;
    margin-top: 10%;
}
#display_name {
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: cursive;
    font-size: large;
    font-weight: bold;
}
#wel_text {
    font-family: verdana;
    font-size: 100%;
    color: black;
    text-align: center;
    margin-top: 45%;
}
#email_txt {
    font-family: verdana;
    text-align: center;
    font-size: 100%;
    color: #B0BDCC;
    margin-bottom: 0px;
}
#email_box {
    border-style: ridge;
    margin: 0 auto;
    display: block;
}
#or_txt {
    font-family: verdana;
    font-size: 90%;
    color: black;
    text-align: center;
}
#scan_qr_txt {
    font-family: verdana;
    text-align: center;
    font-size: 100%;
    color: #B0BDCC;
    margin-bottom: 0px;
}
.my_button {
    margin: 0 auto;
    display: block;
    background-color: #4CAF50;
    border: none;
    color: white;
}

/* END OF HOME-VIEW CSS */