<!DOCTYPE html>
<html>

<head>
    <script src="globalVariables.js"></script>
    <script src="components/barcode/bleAdvertise.js"></script>
    <script src="components/barcode/qrScan.js"></script>
</head>

<body>
    <div data-role="view" data-title="Scan QR Code" data-layout="main">
        <div id="result">
            <button style=" left: 25% ;position:relative;top:150px;width: 50%; height: 100%; display: block ; " id="scanButton" onclick="myfun()">
            QRcode Scan
        </button>
        </div>
        <div id="beaconDisplay">
            <button style=" left: 25% ;position:relative;top:150px;width: 50%; height: 100%; display:none ;" id="bleButton" onclick="myfun2()">
            BLE Devices
        </button>
            
        </div>
        <div id="bleResult">
            <ol onclick="myfun3()" id="deviceList"></ol>
        </div>
    </div>
</body>

</html>