 <!DOCTYPE html>
<html>

<head>
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <script src="components/progressPremises/progressPremises.js"></script>
    <script src='app.js'></script>
    <script src='appLogic/bleListener.js'></script>
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main">
        <div id="schedule_header" style="background-image: url('images/BannerBGAsset 2@1x.png');background-position: center;background-color: #5F2367;">
            <div>
                <a  data-role='button' onclick="back(back_header_temp)" id='backButton1'>
                    <img src='images/BackArrowAsset 4@1x.png'>
                </a>
            </div>
            <div id='main_title'>
                Explore Progress
            </div>
            <div id='sub_title'>
                A place of endless possibilities!
            </div>
        </div>
        <div id="full_div" style="height:100vh;background-color:#eaeaeb">
            <div id="video_container" style="display:none" >
                <div style="background-color:white;width: 98%;">
                    <iframe id='calendar' height="240" src="https://www.youtube.com/embed/sVGTCtPP8Ts">
</iframe>
                    <p id="title_video">
                        title
                    </p>
                    <p id="title_text">
                        Lorem ipsum dolor sit amet,<br> consectetur elit fusce fringilla..
                    </p>
                    <button id="done_button" onclick="back('video_container')">
                DONE
            </button>
                </div>
            </div>
            <div id="idea_room_div" style="display:none">
                <img id='id_room_img_1' class="beacon_hint_img" src="images/InnovationBigAsset 20@1.5x.png">
                <div style="text-align: center;">
                    <img class="hint_img" src='images/HintAsset 3@1.5x.png'>
                </div>
                <p class="footer_hint" id='hint_1_1'>
                    Watch how we support ideas shaping to products. <br> Explore this at Fourth Floor, Block B
                </p>
            </div>
            <div id="idea_room_div_final" style="display:none">
                <img id='id_room_img_1' class="beacon_hint_img" src='images/InnovationCompleteAsset 24@1.5x.png'>
                <div style="text-align: center;">
                    <img class="hint_img" src='images/HintAsset 3@1.5x.png'>
                </div>
                <p class="footer_hint" id="hint_3_1">
                    You did it :D !
                </p>
            </div>
            <div id="lunch_room_div" style="display:none">
                <img id='lr_img_1' class="beacon_hint_img" src='images/CafeteriaBigAsset 21@1.5x.png'>
                <div style="text-align: center;">
                    <img class="hint_img" src='images/HintAsset 3@1.5x.png'>
                </div>
                <p class="footer_hint" id='hint_1_2'>
                  Eager to know what all we do!<br> Discover this at Third Floor, Block A
                </p>
            </div>
            <div id="lunch_room_div_final" style="display:none">
                <img id='lr_img_1' class="beacon_hint_img" src='images/CafeteriaCompleteAsset 25@1.5x.png'>
                <div style="text-align: center;">
                    <img class="hint_img" src='images/HintAsset 3@1.5x.png'>
                </div>
                <p class="footer_hint" id="hint_3_2">
                    You did it :D !
                </p>
            </div>
            <div id="gym_room_div" style="display:none">
                <img id='gr_img_1' class="beacon_hint_img" src='images/GymBigAsset 23@1.5x.png'>
                <div style="text-align: center;">
                    <img class="hint_img" src='images/HintAsset 3@1.5x.png'>
                </div>
                <p class="footer_hint" id='hint_1_3'>
                    Get fit!<br> Reach out to Fourth Floor, Block A
                </p>
            </div>
            <div id="gym_room_div_final" style="display:none">
                <img id='gr_img_1' class="beacon_hint_img" src='images/GymCompleteAsset 27@1.5x.png'>
                <div style="text-align: center;">
                    <img class="hint_img" src='images/HintAsset 3@1.5x.png'>
                </div>
                <p class="footer_hint" id="hint_3_3">
                     You did it ! :D
                </p>
            </div>
            <div id="pantree_room_div" style="display:none">
                <img id='pt_img_1' class="beacon_hint_img" src='images/PantryBigAsset 22@1.5x.png'>
                <div style="text-align: center;">
                    <img class="hint_img" src='images/HintAsset 3@1.5x.png'>
                </div>
                <p class="footer_hint" id='hint_1_4'>
                   Want to have a break! <br>Hunt this at Third Floor, Block B and relax!
                </p>
            </div>
            <div id="pantree_room_div_final" style="display:none">
                <img id='pt_img_1' class="beacon_hint_img" src='images/PantryCompleteAsset 26@1.5x.png'>
                <div style="text-align: center;">
                    <img class="hint_img" src='images/HintAsset 3@1.5x.png'>
                </div>
                <p class="footer_hint" id="hint_2_4">
                     You did it ! :D
                </p>
            </div>
            <div id="empty_div" style="height:30px;display:block">
                
            </div>
            <div id="first_block" >
                <img id="img0" src='images/intern-appAsset 19@1.5x.png' alt="idea room" onclick="idea_Room()" />
                <img id="img1" src='images/GreatSelectedAsset 16@1.5x.png' alt="gym" onclick="gym_Room()" />
            </div>
            <div id="second_block" >
                  <img id="img2" src='images/intern-appAsset 20@1.5x.png' alt="pantree" onclick="pantree()" />
                  <img id="img3" src='images/GreatSelectedAsset 18@1.5x.png' alt="lunchroom" onclick="lunch_Room()" />
            </div>
            <p id="discover_txt">
               Take a walk and Discover the places around you!
            </p>
        </div>
</body>

</html>