        #progressPremises_text {
            font-family: myfont;
            font-size: 150%;
            text-align: center;
            padding-top: 15px;
        }
        #img2_1 {
            display: none;
        }
        #img3_1 {
            display: none;
        }
        #progressPremises_div_header {
            color: white;
            height: 60px;
            width: 100%;
            background-color: powderblue;
        }
        #first_block {
            display:inline;
            padding-left: 30px;
            padding-top: 0px;
            padding-right: 0px;
        }
        #img0 {
            width: 40%;
        }
        #img1 {
               width: 40%;
    margin-left: 4%;
        }
        #img2 {
            width: 40%;
        }
        #img3 {

            width: 40%;
            margin-left: 4%;
        }
        #second_block {
            display:inline;
            padding-left: 30px;
            padding-top: 0px;
            padding-right:0px;
        }
        #discover_txt {
            color: black;
            text-align: center;
            font-size: larger;
            padding-top: 10%;
        }
        .footer_hint {
            padding-top: 15px;
            color: green;
            text-align: center;
            font-size: 14px;
        }
        .beacon_hint_img {
            padding: 50px;
            margin: auto;
            width: 100%;
            height: 150%;
        }
        .hint_img {}
        #done_button {
            height: 48px;
            padding: 30px;
            background-color: #cf4620;
            font-family: Roboto-Light;
            font-size: larger;
            color: #FFFFFF;
            text-align: center;
            margin-left: 33%;
            margin-bottom: 10%;
        }
        #title_video {
            padding-top: 55px;
            padding-bottom: 15px;
            text-align: -webkit-center;
            font-family: myfont;
            font-size: 20px;
            color: #373A3E;
        }
        #title_text {
            padding-top: 15px;
            padding-bottom: 30px;
            text-align: center;
            font-size: 16px;
            font-family: Roboto-Regular;
        }
        #button_back {
            color: white;
            background: green;
            margin: auto;
            display: block;
        }
        #backButton1 {
            background-color: Transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            float: left;
            padding-top: 5%;
        }
        #video_container {
            display: block;
            height: 100vh;
            padding: 20px;
            background-color: grey;
        }
#calendar{
    width: 100%;
}
        .iframe-rwd {
            position: relative;
            padding-bottom: 65.25%;
            padding-top: 30px;
            padding-left: 4%;
            height: 0;
            overflow: hidden;
        }
        #discover_txt_landscape {
            display: none;
        }
        .iframe-rwd iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @media (orientation: landscape) {
            #done_button{
               display:none;
            }
            #title_video{
                display:none;
            }
            #title_text{
                display:none;
            }
            #discover_txt_landscape {
                display: block;
                color: black;
                text-align: center;
                font-size: larger;
                font-weight: bold;
                font-family: Roboto-Regular;
                font-size: 20px;
                padding-top: 5%;
            }
           
            #img0 {
                width: 20%;
            }
            #img1 {
                float: none;
                margin-left: 0%;
                width: 20%;
            }
             #img2 {
                width: 20%;
                 display: inline;
            }
            #img3 {
                float: none;
                margin-left: 0%;
                width: 20%;
                display: inline;
            }
            #img2_1 {
                display: inline;
                display:none;
                width: 23%;
            }
            #img3_1 {
                display: inline;
                 display:none;
                width: 23%;
            }
            #first_block {
                /* margin-top: 7%;*/
                margin-left:47px;
                display:inline;
                padding:0px;
            }
            #second_block {
                display: inline;
                padding:0px;
            }
             .hint_img {
                width: 12%;
            }
            .beacon_hint_img {
                padding-top: 10px;
                padding-bottom: 25px;
                padding-left: 50px;
                padding-right: 50px;
                /* padding: 50px; */
                margin: inherit;
                margin-left: 16%;
                width: 40%;
                height: 147%;
            }
        }
        @font-face {
            font-family: Roboto-Bold;
            src: url(fonts/Roboto-Bold.ttf);
        }
        @font-face {
            font-family: Roboto-Medium;
            src: url(fonts/Roboto-Medium.ttf);
        }
        @font-face {
            font-family: Roboto-Light;
            src: url(fonts/Roboto-Light.ttf);
        }
        @font-face {
            font-family: Roboto-Thin;
            src: url(fonts/Roboto-Thin.ttf);
        }
        @font-face {
            font-family: Roboto-Regular;
            src: url(fonts/Roboto-Regular.ttf);
        }
        .fblogo {
            display: inline-block;
            float: left;
            margin-left: auto;
            margin-right: auto;
            height: 30px;
        }