<!DOCTYPE html>
<html>

<head>
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main">
        <div id="progressPremises_div_header">
            <div id="progressPremises_text">
                Progress Premises
            </div>
        </div>
        <div>
            <a href="//shld give"><img id="img1" src="/shld give" alt="idea room" /></a>
            <a href="//shld give"><img id="img2" src="/shld give" alt="gym" /></a>
        </div>
        <div>
            <a href="//shld give"><img id="img3" src="/shld give" alt="pantree" /></a>
            <a href="//shld give"><img id="img4" src="/shld give" alt="lunchroom" /></a>
        </div>
        <p id="discover_txt" >
            Discover the places around you! 
        </p>
</body>

</html>