<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    </head>
    <body>
        <div data-role="view" data-title="Progress" data-layout="main">
        
            <div id="schedule_header" style="background-image: url('images/BannerBGAsset 2@1x.png');background-position: center;background-color: #5F2367;">
                <div>
                    <a data-role='button' href='components/homeView/view.html' id='backButton'>
                        <img src='images/BackArrowAsset 4@1x.png'>
                    </a>
                </div>
                <div id='main_title'>
                    Feedback
                </div>
                <div id='sub_title'>
                     Please provide us your valuable feedback 
                </div>
            </div>
            <div>
                Sorry , the feeback form is available only after the interview
            </div>
    </body>
</html>