<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main">
        <div id="feedback_div_header">
            <div id="feedback_text">
                Feedback
            </div>
        </div>
        <div id='how_para' >
            How was your </br>interview experience?
        </div>
        <div class="imgContainer">
            <img id="fed_img_1" src='images/Feedback 1.svg' onclick="feedback_smiley_click(this.id)" />
            <p style='margin-left: -7%;font-family: myfont1'>
                Excellent
            </p>
        </div>
        <div class='imgContainer'>
            <img id="fed_img_2" src='images/Feedback 2.svg' onclick="feedback_smiley_click(this.id)" />
            <p style='margin-left: 6%;font-family: myfont'>
                Good
            </p>
        </div>
        <div class='imgContainer'>
            <img id="fed_img_3" src='images/Feedback 3.svg' onclick="feedback_smiley_click(this.id)" />
            <p style='margin-left: -7%;font-family: myfont'>
                Average
            </p>
        </div>
        <div class='imgContainer' style='    padding-bottom: 3%;'>
            <img id="fed_img_4" src='images/Feedback 4.svg' onclick="feedback_smiley_click(this.id)" />
            <p style='margin-left: 18%;font-family: myfont'>
                Bad
            </p>
        </div>
        <textarea rows="5" cols="25" name="comment" id='textArea' placeholder='Type your additional comments....' ></textarea></br>
        <div id="we_value_txtstyle">
            We value your feedback<br>XOXO
        </div>
    <div id="submit_div"> <a data-role='button'  onclick='submitFeedback()' id="submit_button">Submit</a></div>
    </div>
</body>

</html>