<!DOCTYPE html>

<html>
    <head>
        <title></title>
        <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    </head>
    <body>
        <div data-role="view" data-title="Progress" data-layout="main">
        
            <div id="schedule_header" style="background-image: url('images/BannerBGAsset 2@1x.png');background-position: center;background-color: #5F2367;">
                <div>
                    <a data-role='button' href='components/homeView/view.html' id='backButton'>
                        <img src='images/BackArrowAsset 4@1x.png'>
                    </a>
                </div>
                <div id='main_title'>
                    Feedback
                </div>
                <div id='sub_title'>
                    Help us to get even better!
                </div>
            </div>
            <div id='afterSubmit' style='text-align: center;'>
        <div><img id='thumbsImage' src='images/intern-appAsset 24@1x.png'></div>
        <p id='thanksText'>
           Sorry, the feedback form 
    will only be available after the 
    interview.
        </p>
        
    </div>
    </body>
</html>