.imgContainer.grade{
    text-align:center;
}
#feedback_text {
    font-family: myfont;
    font-size: 150%;
    text-align: center;
    padding-top: 15px;
}
#feedback_div_header {
    color: white;
    height: 60px;
    width: 100%;
    background-color: powderblue;
}
#how_para {
    margin-top: 10%;
    text-align: center;
}
.imgContainer {
    float: left;
    margin: 7%;
    width: 10%;
}
.imgConatiner p{
    color:red;
}
#tp1 {
    display: inline-block;
}