<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <script src='components/homeView/homeView.js'></script>
    <script src='app.js'></script>
    <link href="schedule.css" rel="stylesheet" type="text/css">
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main" >
        <div id="schedule_header">
            <div id="schedule_text">
                Schedule
            </div>
        </div>
        <ul id='employee_list' style="list-style-type:none; padding: 0;margin: 0;" onclick='show()'>
            <!--li class='listItem'>Hello
                <h3 class='timeItem'>
                    100am-11.00am
                </h3>
            </li-->
                
            </div>
           
        </ul>
        <div style='display:none;' id='point_of_contact'>
            
           <img  id='point_of_contact_image' src='images/profile.png'/>
            
         
        </div>
    </div>
</body>

</html>