


/* (Css for ajax)Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/test.png') 
                50% 50% 
                no-repeat;
}
p.by_para{
    font-size: 20px;
    color: #5F2367;
    margin-left:0rem;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.listItem {
    padding-right: 3%;
    font-weight: bold;
    font-size: 20px;
    padding-top: 4%;
    color: black;
    font-family: Roboto-Bold;
}
#backButton {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    float: left;
    padding-top: 5%;
}
 #queries_div{
        padding:20px;
    }
.imgArrow{
    padding-top: 30px;
    float: left;
}
.arrow2 {
    
    /* margin-top: 10%; */
    /* margin: 0; */
    float: right;
    display: inline-block;
}
.arrow {
    float: right;
    display: inline-block;
}
.timeItem {
    height: 24px;
}
#role {
    /*display: block;*/
    /*margin-left: 35%;*/
    /*top: 64%;
    left: 35%;*/
    margin-left: 34%;
}
#contact_name{
        font-weight: bold;
    font-size: 20px;
    font-family:Roboto-Bold;
}
#contact_href{
        font-weight: bold;
    font-size: 20px;
    font-family:Roboto-Bold;
}
#query{
    font-family:Roboto-Normal;
        font-weight: bold;
    color: lightgray;
    font-size: 16px;
}
#name {
    /*margin-left: 35%;
    color:#5F2367;*/
    font-weight:bold;
    font-size:20px;
    color: #5F2367;
   
}
#imgItem {
    //position: fixed;
    border-radius: 100%;
    height: 70px;
    margin: 0;
}
.imgItem {
    border-radius: 100%;
    height: 70px;
    /* margin: 0; */
    margin-top: 0%;
    float: left;
    border: 4px solid white;
}
.divItem {
    display: none;
     background-color:white;
    padding: 10%;
}
.up_arrow {
    transform: rotate(90deg);
    width: 10px;
    height: 10px;
    display: block;
}
.textItem {
    width: 25%;
}

.time {
    font-family: roboto;
    background-color:#eaeaeb;
    padding: 7%;
    list-style-position: inside;
    border-bottom: 1px solid #c0c5cb;
    color: #7C878E;
    font-size: 20px;
}
h3.timeItem {
    font-family: roboto;
    display: -webkit-inline-box;
    margin-left: 30%;
    /* margin-left: 50%; */
}
#schedule_text {
    font-family: myfont;
    font-size: xx-large;
    text-align: -webkit-center;
    padding: 4%;
}
@media (orientation: landscape) {
    #backButton {
        padding-top: 4%;
    }
    #schedule-text {
        text-align: center;
    }
    .time {
    font-family: roboto;
    background-color:#eaeaeb;
    padding: 3%;
    list-style-position: inside;
    border-bottom: 1px solid #c0c5cb;
    border-top: 1px solid #c0c5cb;
    color: #7C878E;
    font-size: 20px;
}
    #queries_div{
        padding:3%;
    }
    
}
#main_title {
    color: white;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 40px;
    font-family:Roboto-Medium ;
}
#sub_title {
    color: white;
    font-size: 16px;
    padding-left: 40px;
     font-family:Roboto-Regular;
}
#aTag {
    /* padding-right: 5%; */
    float: left;
    font-size: x-large;
}
#schedule_header {
    font-family: myfont;
    width: 100%;
    height: 86px;
    background-image: url('images/BannerBGAsset 2@1x.png');
}
@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: Roboto-Medium;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

