<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>
    </title>
    <script src='components/homeView/homeView.js'></script>
    <script src='app.js'></script>
    <link href="components/schedule/schedule.css" rel="stylesheet" type="text/css">
    <link href="kendo/styles/kendo.mobile.all.min.css" rel="stylesheet">
    <link href="styles/overrides.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
</head>

<body>
    <div data-role="view" data-title="Progress" data-layout="main">
        <div id="schedule_header">
            <a data-role='button' href='components/homeView/view.html' id='backButton'>
                &#10094;
                </a>
            <div id="schedule_text">
                Schedule
            </div>
        </div>
        <ul id='employee_list' style="list-style-type:none; padding: 0;margin: 0;">
        </ul>
        <div id='point_of_contact'>
            <h1 style=' color: white; padding-bottom: 3%;'>
                Point of Contact
            </h1>
            <img id='point_of_contact_image' src='images/profile.png'>
            <h1 id='pName'>
            Srikanth Reddy
        </h1>
            <h1 id='pRole'>
            Sr Recruiter, Human Capital
        </h1>
            <h1 id='pDetail'>
            +91 1234567890, sreddy@progress.com
        </h1>
        </div>
    </div>
</body>

</html>